header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 0vw 5vw;
    padding: 1vw;
    border: mintcream solid 3px;
    border-radius: 25%;
}

header div img {
    width: 10vw;
    border-radius: 50%;

}

section {
    display: flex;
    justify-content: space-around;
}

section img {
    width: 20vw;
    height: 25vh;

}